h3 {
    text-align: center
}
h4 {
    position: relative;
    bottom: 77px;
    left: 10px;
    color: white;
}
.sidenav-trigger {
    position: relative;
    float: right;
    right: 10px;
    top: -52px;
}
.modal-trigger {
    position: relative;

    float: right;
    right: 20px;
    top: -52px;
}

#my-pet-wrapper {
    display: flex;
    flex-direction: row;
}
@media only screen and (max-device-width: 450px) {
    #my-pet-wrapper{
        display: inline
    }
}
