.card {
    width: 20%;
    margin-right: 10px;
}

@media only screen and (max-device-width: 450px) {
    .card{
        width:100%
    }
}

@media only screen and (max-device-width: 780px) {
    .card{
        width:23%
    }
}

